<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="browser" value="chrome"/>
    <listeners>
        <listener class-name="BasicUtils.CustomTestListener" />
    </listeners>

    <parameter name="currentUser"  value="productionManager"/>
    <test verbose="2" name="Test1">
        <classes>
            <class name="BasicUtils.TestngAnnotatedMethods"/>
            <class name="CommonTestCases.LoginPageTest"/>
        </classes>
    </test>




</suite>